<div ng-include="'landing/views/header.html'"></div>
<div class="col-sm-6 col-sm-offset-3">
<div class="text-center">
  Please take a moment to register an account.
  <br>
  <br>
</div>
  <form class="form-group" ng-submit="register()">
    <label class="control-label">User name</label>
    <input class="form-control" ng-model="creds.userName" type="text">
    <br>
    <label class="control-label">Password</label>
    <input class="form-control" ng-model="creds.password" type="{{passwordField}}">
    <div class="pull-right">

    <label class="control-label"><input ng-click = "unmask(unmaskFlag)" ng-model = "unmaskFlag" type="checkbox"> Unmask</label>
    </div>

    <br>
      <button class="pull-left btn "type="submit"><i class="fa fa-sign-in"></i> Signup</button>
  </form>
</div>
